#image :nth-child(1) {
  position: absolute;
  top: 248px;
  left: 806px;
  z-index: 1;
  width: 146.089px;
  height: 141.59px;
  transform: rotate(3.101deg);
  flex-shrink: 0;
  fill: radial-gradient(50% 50% at 50% 50%, #FFF 0%, #CDCDCD 100%);
  filter: drop-shadow(0px 0px 20px #FFF);
}

#image :nth-child(2) {
  position: absolute;
  top: 11px;
  left: 16px;
  z-index: 1;

  width: 852px;
  height: 359.5px;
  flex-shrink: 0;

  fill: rgba(255, 255, 255, 0.03);
}