h1{
  color: #FFF;
  text-shadow: 0px 0px 17px rgba(255, 255, 255, 0.80);
  font-size: 65.001px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#main-wrap {
  z-index: 2;
  width: 560px;
  height: 720px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  color: white;
}

#main-wrap div :nth-child(3) {
  display: flex;
  justify-content: flex-end;
}


#atag :nth-child(1) {
  width: 25.49px;
  height: 25.49px;
  flex-shrink: 0;
  fill: #FFF;
  filter: drop-shadow(2px 2px 4px rgba(255, 255, 255, 0.25));
}

#atag :nth-child(2) {

  width: 26px;
  height: 26px;
  flex-shrink: 0;
  fill: #FFF;
  filter: drop-shadow(2px 2px 4px rgba(255, 255, 255, 0.25));
}
#atag :nth-child(3) {
  width: 25.496px;
  height: 25.496px;
  flex-shrink: 0;

  fill: #FFF;
  filter: drop-shadow(2px 2px 4px rgba(255, 255, 255, 0.25));
}