@font-face {
  font-family: 'PyeongChangPeace';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'PyeongChangPeace';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  font-family: "PyeongChangPeace";
  font-weight: 300;
}

html {
  /* overflow-x: clip; */
  background: #0E0E0F;
  /* cursor: none; */
}

a {
  text-decoration: none;
  color: white;
}

.cursor {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  position: absolute;
  z-index: 999;
  backdrop-filter: invert(100%);
  pointer-events: none;
}