
header {
  width: 100%;
  position: fixed;
}

header > div {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 0 0;
  height: 56px;
  align-items: center;
}

#left-nav {
  display: flex;
  padding: 0 0 0 2.34vw;
}

#right-nav {
  display: flex;
}

#right-nav div {
  padding: 0 2.34vw;
}


#left-nav :nth-child(1) {
  width: 18px;
  height: 20px;
  fill: rgba(217, 217, 217, 0.98);
  box-shadow: 3px 0px 6px 0px rgba(0, 0, 0, 0.40) inset;
  margin-right: 8px;
}


#left-nav :nth-child(2) {
  color: #FFF;
  text-shadow: 0px 0px 20px #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.2px;
  z-index: 1;

}

#right-nav :nth-child(1) {
  color: #FFF;
  text-shadow: 0px 0px 20px #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.2px;
  z-index: 1;
}