.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
  z-index: -2;
}

.star {
  --star-color: #ffffff; /* 흰색으로 설정 */
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite,
    tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}

@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}

.star:nth-child(1) {
  --star-tail-length: 6.68em;
  --top-offset: 97.97vh;
  --fall-duration: 6.153s;
  --fall-delay: 7.225s;
}

.star:nth-child(2) {
  --star-tail-length: 6.72em;
  --top-offset: 5.38vh;
  --fall-duration: 9.471s;
  --fall-delay: 8.484s;
}

.star:nth-child(3) {
  --star-tail-length: 5.94em;
  --top-offset: 1.23vh;
  --fall-duration: 6.917s;
  --fall-delay: 5.251s;
}

.star:nth-child(4) {
  --star-tail-length: 6.68em;
  --top-offset: 79.18vh;
  --fall-duration: 6.492s;
  --fall-delay: 9.634s;
}

.star:nth-child(5) {
  --star-tail-length: 6.42em;
  --top-offset: 46.11vh;
  --fall-duration: 9.026s;
  --fall-delay: 4.988s;
}

.star:nth-child(6) {
  --star-tail-length: 6.45em;
  --top-offset: 3.78vh;
  --fall-duration: 10.39s;
  --fall-delay: 1.567s;
}

.star:nth-child(7) {
  --star-tail-length: 5.29em;
  --top-offset: 49.82vh;
  --fall-duration: 6.832s;
  --fall-delay: 1.002s;
}

.star:nth-child(8) {
  --star-tail-length: 6.76em;
  --top-offset: 29.34vh;
  --fall-duration: 7.225s;
  --fall-delay: 3.665s;
}

.star:nth-child(9) {
  --star-tail-length: 5.99em;
  --top-offset: 83.52vh;
  --fall-duration: 9.65s;
  --fall-delay: 3.353s;
}

.star:nth-child(10) {
  --star-tail-length: 6.97em;
  --top-offset: 90.37vh;
  --fall-duration: 11.113s;
  --fall-delay: 2.529s;
}

.star::before,
.star::after {
  position: absolute;
  content: '';
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}

.star::before {
  transform: rotate(45deg);
}

.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}

@keyframes tail-fade {
  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%,
  80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0.6;
  }
}
