.container {
  text-align: center;
  width: 80%;
  max-width: 800px;
}

#form-fixed {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#form-center {
  display: flex;
  justify-content: center;
}

#post-top {
  margin: 40vh 0 100px 0;
  width: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#post-top h2 {
  color: white;
  font-size: 3rem;
}

#post-wrap {
  display: flex;
  width: 100%;
  justify-content: center;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

main h2 {
  font-size: 1.5em;
}

#search-form {
  display: flex;
}

#search-input {
  width: 350px;
  padding: 10px;
  border: none;
  border-radius: 8px 0 0 8px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

/* #search-input:hover {
  border: 1px solid #fff;
  box-shadow: 0px 0px 5px 0px #fff;
} */

#search-form button {
  padding: 0 10px;
  border: solid 1px;
  border-radius: 0 8px 8px 0;
  background-color: white;
  cursor: pointer;
}

#search-form button:hover {
  border: 1px solid #fff;
  box-shadow: 0px 0px 5px 0px #fff;
}

#search-form button img {
  display: flex;
  width: 20px;
  height: 20px;
}

#search-results {
  margin-top: 20px;
  text-align: left;
}

.result {
  border: 1px solid transparent;
  width: 750px;
  padding: 30px 25px;
  margin-bottom: 30px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);
  transition: all 0.25s;
}
.result h3 {
  margin-bottom: 20px;
  color: #fff;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.result p {
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

#search-results > a > div:hover {
  border-radius: 6px;
  border: 1px solid #fff;
  box-shadow: 0px 0px 5px 0px #fff;
}
